
    .breadcrumbs {
      margin: auto;
      max-width: 1200px;
      padding-top: 78px;
    }
  
    .breadcrumbs__list {
      list-style-type: none;
      margin-left: 50px;
      padding: 0;
    }
  
    .breadcrumbs__item {
      display: inline-block;
    }
  
    .breadcrumbs__item:not(:last-child):after {
      border-style: solid;
      border-width: .10em .10em 0 0;
      content: '';
      display: inline-block;
      height: 8px;
      margin: 0 .20em;
      position: relative;
      transform: rotate(45deg);
      vertical-align: middle;
      width: 8px;
      margin-left: 6px;
      margin-right: 16px;
    }
  
    .breadcrumbs__link {
      text-decoration: none;
      color: rgba(var(--color-foreground), 0.75);
    }
  
    .breadcrumbs__link[aria-current="page"] {
      color: inherit;
      font-weight: normal;
      text-decoration: none;
      pointer-events: none;
    }

    .breadcrumbs-shop-all {
        text-decoration: none;
        color: rgba(var(--color-foreground), 0.75);
    }
    .breadcrumbs-shop-all[aria-current="page"]:hover,
    .breadcrumbs-shop-all[aria-current="page"]:focus {
        text-decoration: underline;
    }

    .breadcrumbs__link:hover,
    .breadcrumbs__link:focus {
      text-decoration: underline;
    }

    .breadcrumbs__link[aria-current="page"]:hover,
    .breadcrumbs__link[aria-current="page"]:focus {
      text-decoration: none;
    }

    @media screen and (max-width: 750px) {
        .breadcrumbs {
            max-width: 100vw;
            padding-top: 48px;
          }
          .breadcrumbs__list {
            margin-left: 15px;
          }
      }